$accent-color: #7B6BFF;
$white-color: #fff;
$skeleton-bg: #e0e0e0;
$skeleton-color: #ececec;
$green-color: #4fbf67;
$red-color: #c00d49;

$base-drop-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.2);


$toast-max-width: 320px;
$toast-bg-color: $white-color;
$toast-success-color: $green-color;
$toast-error-color: $red-color;
